@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body
{
  font-family: "Roboto Condensed" sans-serif;
}
/*-----------------------------NavBar------------------*/
.logo
{
  width: 10.25rem;
  height: 4rem;
}
:root
{
  --primary-white: #fff;
}
/*----------------MENU Links---------------------------------*/
nav a.nav-link
{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a
{
  color: var(--primary-white) !important;
  border-bottom: solid transparent 3px;
}

.navbar-nav > li > a:focus
{
  border-bottom: solid yellow 3px;
}
.navbar-nav > li > a:hover
{
  border-bottom: solid yellow 3px;
}